.primary {
	@apply p-xs;
	background-color: "#00A8E8";
}
.secondary {
	@apply p-md;
}

.success {
	background-color: "##07B255";
}
.warning {
	background-color: " ##FF933B";
}
.danger {
	background-color: "#FE544A";
}
.btn {
	@apply px-md py-lg rounded-t-lg;
}
